<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span ng-model="login" class="navbar-brand" >FreePONG@{{login}}</span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <a id="btn-verpartidas" class="btn btn-success"   ng-click="login()">Ver partidas </a>
                <a id="btn-crearpartida"class="btn btn-success"   ng-click="login()">Crear partida </a>
                <a id="btn-editarperfil" class="btn btn-success"   ng-click="editar()">Editar perfil </a>
                <a id="btn-logout" class="btn btn-success"   ng-click="login()">Login </a>
            </ul>
        </div>
    </div>
</nav>

<div>
    <ui-view></ui-view>
</div>