
 body{
      margin: 50px;
 }

 #reg{
      background-color: rgba(64, 204, 107, 0.15);
      padding: 50px;
      border: 1px solid #369;
      border-radius: 8px;

 }
  #add{
      background-color: rgba(64, 159, 204, 0.15);
      padding: 50px;
      border: 1px solid #369;
      border-radius: 8px;
 }

.pull-right {
      position: relative;
      float: left;
      bottom: -20px;
      display: block;
}

.color:hover{
	 color: #2C78BD;
}

#salir{
     position: relative;
     display: inline-block;
     width: 100px;
     float: right;
     margin-top: 20px;
}

#cabecera{
     position: relative;
     display: inline-block;
}

.panel-body{
     border: 1px solid #369;
     border-radius: 8px;
     background-color: aliceblue;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: white;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
}

.ng-table-header:hover {
  color: #2C78BD;
}

.nocolor:hover {
  color: #EC971F;
  text-decoration: blink;
  cursor: pointer;
}

.nocolor {
  color: black;
}



 