<div class="page-header">
    <h1 id="cabecera">Administrador</h1>
    <a id="salir" type="button" class="btn btn-danger" ui-sref="login">
        <i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Salir
    </a>
    <hr>
    <h2>Lista de Partidas</h2>
    <div class="jumbotron text-center">
        <h1>Total Registros: <span class="label label-warning">{{mesas.total}}</span></h1>
    </div>
</div>
<a type="button" class="btn btn-success" ui-sref="crearMesa">
    <i class="glyphicon glyphicon-open"></i>&nbsp;&nbsp;Crear Mesa
</a>
<a style="position: relative; display: inline-block; float: right;" type="button" class="btn btn-primary" ui-sref="admin">
    <i class="glyphicon glyphicon-triangle-left"></i>&nbsp;&nbsp;Volver
</a>
<br><br>
<div>
    <table class="table table-hover" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="mesa in $data">
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Horas'" sortable="'horas'" filter="{ 'horas': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(mesa)">{{mesa.horas}}</a><br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Local'" sortable="'local'" filter="{ 'local': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(mesa)">{{mesa.local}}</a><br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Visitante'" sortable="'visitante'" filter="{ 'visitante': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(mesa)">{{mesa.visitante}}</a><br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Partidas'" sortable="'partidas'" filter="{ 'partidas': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(mesa)">{{mesa.partidas}}</a><br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Fecha'" sortable="'created'" filter="{ 'created': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(mesa)" ng-bind="mesa.created | date:'mediumDate'"></a>
                </td>
                <td>
                   <div style="margin-left: 7%" class="table-actions">
                        <button class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit" title="Editar" ng-click="editar(mesa)" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"  ng-click="delete(mesa._id)" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-user" ng-click="editar(mesa)" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
        </tr>
    </table>
</div>
<div class="alert alert-warning text-center" data-ng-hide="!mesas.$resolved || mesas.length">
    No existen mesas creadas. Por qué no <a ui-sref="crearMesa">creas una</a>?
</div>
