<div class="page-header">
    <h1 id="cabecera">Administrador</h1>
    <a id="salir" type="button" class="btn btn-danger" ui-sref="login">
        <i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Salir
    </a>
    <hr>
    <h2>Lista de Partidas</h2>
    <div class="jumbotron text-center">
        <h1>Total Registros: <span class="label label-warning">{{partidas.total}}</span></h1>
    </div>
</div>
<a type="button" class="btn btn-success" ui-sref="crearPartida">
    <i class="glyphicon glyphicon-open"></i>&nbsp;&nbsp;Crear Partida
</a>
<a style="position: relative; display: inline-block; float: right;" type="button" class="btn btn-primary" ui-sref="admin">
    <i class="glyphicon glyphicon-triangle-left"></i>&nbsp;&nbsp;Volver
</a>
<br><br>
<div>
    <!-- <table id="ded" class="table table-hover" ng-table="tableParams">
        <th style="width: 3%">ID</th>
        <th title="Haz click para ordenar" class="color" ng-click="sort('creador')" style="cursor: pointer;">USUARIO CREADOR&nbsp;&nbsp;&nbsp;
            <span ng-show="sortKey=='creador'" class="glyphicon sort-icon" ng-class="{'glyphicon glyphicon-triangle-top':reverse,'glyphicon glyphicon-triangle-bottom':!reverse}"></span>
        </th>
        <th title="Haz click para ordenar" class="color" ng-click="sort('invitado')" style="cursor: pointer;">USUARIO INVITADO&nbsp;&nbsp;&nbsp;
            <span ng-show="sortKey=='invitado'" class="glyphicon sort-icon" ng-class="{'glyphicon glyphicon-triangle-top':reverse,'glyphicon glyphicon-triangle-bottom':!reverse}"></span>
        </th>
        <th title="Haz click para ordenar" class="color" ng-click="sort('mesa')" style="cursor: pointer;">MESA&nbsp;&nbsp;&nbsp;
            <span ng-show="sortKey=='mesa'" class="glyphicon sort-icon" ng-class="{'glyphicon glyphicon-triangle-top':reverse,'glyphicon glyphicon-triangle-bottom':!reverse}"></span>
        </th>
        <th title="Haz click para ordenar" class="color" ng-click="sort('created')" style="cursor: pointer;">CREADO&nbsp;&nbsp;&nbsp;
           <span ng-show="sortKey=='created'" class="glyphicon sort-icon" ng-class="{'glyphicon glyphicon-triangle-top':reverse,'glyphicon glyphicon-triangle-bottom':!reverse}"></span>
        </th>

        <th style="width: 7%; text-align: center;">EDITAR</th>
        <th style="width: 7%; text-align: center;">ELIMINAR</th>
        <th style="width: 7%; text-align: center;">PERFIL</th>
        <tr ng-repeat="partida in $data | orderBy:sortKey:reverse | filter:{ nombre: studentName } | filter:searchText">
            <td style="color: red">{{ $index + 1 }}</td>
            <td>{{ partida.creador }}</td>
            <td>{{ partida.invitado }}</td>
            <td>{{ partida.mesa }}</td>
            <td>
                <span ng-bind="partida.created | date:'mediumDate'"></span>
            </td>
            <td style="text-align: center;">
                <button class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit" title="Editar" href="/#!/usuarios/{{partida._id}}/edit" aria-hidden="true"></span>
                </button>
            </td>
            <td style="text-align: center;">
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" data-ng-click="delete(partida._id)" aria-hidden="true"></span>
                </button>
            </td>
            <td style="text-align: center;">
                <button title="Perfil" href="/#!/usuarios/{{partida._id}}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-eye-open" ng-click="procesaObjeto(partida)" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table> -->
    <table class="table table-hover" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="partida in $data">
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Creador'" sortable="'creador'" filter="{ 'creador': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(partida)">{{partida.creador}}</a><br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Invitado'" sortable="'invitado'" filter="{ 'invitado': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(partida)">{{partida.invitado}}</a><br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Mesa'" sortable="'mesa'" filter="{ 'mesa': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(partida)">{{partida.mesa}}</a><br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Fecha'" sortable="'created'" filter="{ 'created': 'text' }">
                    <a class="nocolor" ng-click="editar(partida)"><span ng-bind="partida.created | date:'mediumDate'"></span></a>
                </td>
                <td>
                   <div style="margin-left: 7%" class="table-actions">
                        <button class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit" title="Editar" ng-click="editar(partida)" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"  ng-click="delete(partida._id)" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-user" ng-click="editar(partida)" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
        </tr>
    </table>
</div>
<div class="alert alert-warning text-center" data-ng-hide="!partidas.$resolved || partidas.length">
    No existen partidas creadas. Por qué no <a ui-sref="crearPartida">creas una</a>?
</div>
