<div class="page-header">
    <h1 id="cabecera">Administrador</h1>
    <button id="salir" class="btn btn-danger" ui-sref="login">Salir</button>
    <hr>
    <h2>Lista de Partidas</h2>
    <div class="jumbotron text-center">
        <h1>Total Registros: <span class="label label-warning">{{partidas.total}}</span></h1>
    </div>
</div>
<button class="btn btn-success" ui-sref="crearPartida">Crear Partida</button>
<button class="btn btn-primary" ui-sref="admin">Volver</button>
<br><br>
<div>
    <table id="ded" class="table table-hover" ng-table="tableParams">
        <th style="width: 3%">ID</th>
        <th title="Haz click para ordenar" class="color" ng-click="sort('creador')" style="cursor: pointer;">USUARIO CREADOR&nbsp;&nbsp;&nbsp;
            <span ng-show="sortKey=='creador'" class="glyphicon sort-icon" ng-class="{'glyphicon glyphicon-triangle-top':reverse,'glyphicon glyphicon-triangle-bottom':!reverse}"></span>
        </th>
        <th title="Haz click para ordenar" class="color" ng-click="sort('invitado')" style="cursor: pointer;">USUARIO INVITADO&nbsp;&nbsp;&nbsp;
            <span ng-show="sortKey=='invitado'" class="glyphicon sort-icon" ng-class="{'glyphicon glyphicon-triangle-top':reverse,'glyphicon glyphicon-triangle-bottom':!reverse}"></span>
        </th>
        <th title="Haz click para ordenar" class="color" ng-click="sort('mesa')" style="cursor: pointer;">MESA&nbsp;&nbsp;&nbsp;
            <span ng-show="sortKey=='mesa'" class="glyphicon sort-icon" ng-class="{'glyphicon glyphicon-triangle-top':reverse,'glyphicon glyphicon-triangle-bottom':!reverse}"></span>
        </th>

        <th style="width: 7%">EDITAR</th>
        <th style="width: 7%">ELIMINAR</th>
        <th style="width: 7%">DETALLES</th>
        <tr ng-repeat="partida in $data | orderBy:sortKey:reverse | filter:{ nombre: studentName } | filter:searchText">
            <td style="color: red">{{ $index + 1 }}</td>
            <td>{{ partida.creador }}</td>
            <td>{{ partida.invitado }}</td>
            <td>{{ partida.mesa }}</td>
            <td>
                <button class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit" title="Editar" href="/#!/usuarios/{{partida._id}}/edit" aria-hidden="true"></span>
                </button>
            </td>
            <td>
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" data-ng-click="delete(partida._id)" aria-hidden="true"></span>
                </button>
            </td>
            <td>
                <button title="Perfil" href="/#!/usuarios/{{partida._id}}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-eye-open" ng-click="procesaObjeto(partida)" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="alert alert-warning text-center" data-ng-hide="!partidas.$resolved || partidas.length">
    No existen partidas creadas. Por qué no <a ui-sref="crearPartida">creas una</a>?
</div>
