<div id="add" class="col-md-6 col-md-offset-3">
<a id="salir" type="button" class="btn btn-danger" ui-sref="inicio">
    <i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Salir
</a>
    <h2>Crear partida</h2>
    <form name="form" ng-submit="crearPartida()" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.mesa.$dirty && form.mesa.$error.required }">
            <label for="mesa">Mesa</label>
            <input type="mesa" name="mesa" id="mesa" class="form-control" ng-model="mesa" required />
            <span ng-show="form.mesa.$dirty && form.mesa.$error.required" class="help-block">Campo necesario</span>
        </div>



        <div class="form-actions">
            <!-- <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Registro</button> -->
            <button type="submit" class="btn btn-success">Añadir</button>
            <a href="" class="btn btn-primary" ng-click="demo();">Raul Lorenzo</a>
            <a ui-sref="admin" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>

<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>