<div class="page-header">

    <a id="salir" type="button" class="btn btn-danger" ui-sref="login">
        <i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Salir
    </a>
    <hr>
    <h2>Lista de usuarios</h2>

    <div class="jumbotron text-center">
        <h1>Total Registros: <span class="label label-warning">{{usuarios.total}}</span></h1>
    </div>



</div>
<div>
    <div style="position: relative; display: inline-block; float: left;">
        <a type="button" class="btn btn-success" ui-sref="add">
            <i class="glyphicon glyphicon-open"></i>&nbsp;&nbsp;Crear Usuario
        </a>
        <a type="button" class="btn btn-success" ui-sref="crearPartida">
            <i class="glyphicon glyphicon-open"></i>&nbsp;&nbsp;Crear Partida
        </a>
        <a type="button" class="btn btn-success" ui-sref="crearMesa">
            <i class="glyphicon glyphicon-open"></i>&nbsp;&nbsp;Crear Mesa
        </a>
    </div>
    <div style="position: relative; display: inline-block; float: right;">
        <a type="button" class="btn btn-primary" ui-sref="partidas">
            <i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Ver Partidas
        </a>
        <a type="button" class="btn btn-primary" ui-sref="mesas">
            <i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Ver Mesas
        </a>
    </div>
</div>
<br>
<br>
<br>
<div>
    <table id="ded" class="table table-hover" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="usuario in $data">
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Nombre'" sortable="'nombre'" filter="{ 'nombre': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{usuario.nombre}}<br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Apellidos'" sortable="'apellidos'" filter="{ 'apellidos': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{usuario.apellidos}}<br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;E-mail'" sortable="'email'" filter="{ 'email': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{usuario.email}}<br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Username'" sortable="'login'" filter="{ 'login': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{usuario.login}}<br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Password'" sortable="'password'" filter="{ 'password': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{usuario.password}}<br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Saldo'" sortable="'saldo'" filter="{ 'saldo': 'text' }">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{usuario.saldo}}&nbsp;€<br>
                </td>
                <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Fecha'" sortable="'created'" filter="{ 'created': 'text' }">
                    <span ng-bind="usuario.created | date:'mediumDate'"></span>
                </td>
                <td>
                   <div style="margin-left: 7%" class="table-actions">
                        <button class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit" title="Editar" ng-click="editar(usuario)" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"  ng-click="delete(usuario)" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-user" ng-click="editar(usuario)" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
        </tr>
    </table>
</div>
<div class="alert alert-warning text-center" data-ng-hide="!usuarios.$resolved || usuarios.length">
    No existen usuarios ahora. Por qué no <a ui-sref="add">creas uno</a>?
</div>

