/* Empty. Add your own CSS if you like */

/*imagen de perfil usuarios*/
.imgUser{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 135px;
	border-radius: 10%;
	margin-top: 20px;
}

.textPerfil{
	margin-left: 15px;
}

.imgPerfil{
	margin-left: 15px;
	border-radius: 0%;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 10px;
}

.imgagenPerfil{

}

.datosPerfil{
	position: relative;
	display: inline-block;
	float: right;
	width: 60%;
}

.buttonsPerfil{
	position: relative;
	display: block;
}

#buttonDelete{
	width: 30%;
	margin-left: 10px;
}

#buttonPerfil{
	width: 30%;
}

#buttonEdit{
	width: 30%;
}

#buttonNewCount{
	/*width: 100%;
	background-color: rgb(246, 141, 4);*/
	padding: 10px;
	margin-bottom: 10px;
	width: 95%
}

#buttonTwitter{
	padding: 12px;
	width: 95%
}

#fondoLogin{
	background-color: rgba(0, 128, 0, 0.25);
}

/* Maps */
.scroll {
    height: 95%;
}
 
#map {
    width: 100%;
    height: 100%;
}